.mascota-list-item{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;   
    overflow: hidden;
}

.mascota-list-item .mascota-details{
    padding: 10px;
    background-color: #FFF;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mascota-list-item .mascota-name{
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mascota-list-item .mascota-code{
    font-size: 12px;
    color: #999;
}

.mascota-list-item .mascota-price{
    font-size: .8rem;
    color: #333;
}

.mascota-list-item .mascota-image{
    height: 200px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mascota-list-item .mascota-actions {
    text-align: right;
}

.mascota-list-item .mascota-actions .mascota-view{
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: #82a9ff;
    padding: .5em 1em;
    border-radius: 5px;
    text-transform: uppercase;
}