@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  font-size: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f5f5f5; */
  --box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

figure {
  margin: 0;
}

input,
textarea,
select {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

input {
  border-radius: 10px;
}

/* .App :nth-child(2),
.App :nth-of-type(2), */
.App > div,
.App > section {
  margin-top: 100px;
}

.light {
  font-weight: 300 !important;
}
.lowercase {
  text-transform: initial !important;
}

/*--------------------------------------------------------------
# Secciones General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.fondo-seccion {
  background-color: #f3f5fa;
}

@media (min-width: 767px) {
  .fondo-seccion-lg {
    background-color: #f3f5fa;
  }
}

.titulo-seccion {
  text-align: center;
  padding-bottom: 30px;
}

.titulo-seccion h2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  /* text-transform: uppercase; */
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  color: #be8400;
}

.titulo-seccion p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

@media (min-width: 767px) {
  .titulo-seccion h2 {
    font-size: 32px;
  }

  .titulo-seccion p {
    margin-bottom: 0;
    font-size: 1rem;
  }
}

/*--------------------------------------------------------------
# Seccion de inicio
--------------------------------------------------------------*/
.seccion-inicio {
  margin-top: 0px !important;
}

.seccion-inicio section {
  min-height: 0 !important;
}

.hero-mobile {
  background-color: #f4edde;
  margin-top: 0 !important;
}
@media (min-width: 767px) {
  .seccion-inicio {
    margin-top: 50px !important;
  }
  .hero {
    display: block;
    width: 100%;
    height: 100vh;
    background: url("assets/img/portada_inicio_ilustracion_mascotas.png") bottom
      right no-repeat;
    background-size: contain;
    position: relative;
    padding: 0;
    background-color: #f4edde;
  }
}

@media (min-width: 860px) {
  .hero {
    display: block;
    width: 100%;
    height: 100vh;
    /* background: url("../img/banner_hero.jpg") top center no-repeat;
  background-size: cover; */
    position: relative;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .hero {
    /* background: url("../img/banner_hero.jpg") top left no-repeat;
  background-size: cover; */
    position: relative;
  }
}

.hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  margin: 0 0 6px 0;
  font-size: 18px;
  /*  font-weight: 700;*/
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
}

.hero h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  /* letter-spacing: 3px; */
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  display: inline-block;
  padding: 7px 25px 7px 25px;
  border-radius: 4px;
  transition: 0.5s;
  color: rgba(25, 22, 84, 1);
  background: #fff;
  border: 2px solid #fff;
}

.hero .btn-get-started:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.hero .logo-hero {
  padding: 180px 20px 10px 20px;
}

@media (min-width: 300px) {
  .hero h1 {
    margin: 0 0 6px 0;
    font-size: 24px;
    /*  font-weight: 700;*/
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
  }

  .hero h2 {
    color: #544636;
    margin-bottom: 30px;
    font-size: 14px;
    /* text-transform: uppercase; */
    font-weight: 300;
  }

  .hero .btn-get-started {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    padding: 8px 30px 8px 30px;
    border-radius: 4px;
    transition: 0.5s;
    color: #3c6d96;
    background: #fff;
    border: 2px solid #fff;
  }

  .hero .btn-get-started:hover {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

@media (min-width: 385px) {
  .hero h1 {
    margin: 0 0 10px 0;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 6px;
  }

  .hero h2 {
    margin-bottom: 40px;
    font-size: 15px;
  }

  .hero .btn-get-started {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 35px 10px 35px;
  }
}

@media (min-width: 460px) {
  .hero h1 {
    margin: 0 0 10px 0;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 7px;
  }

  .hero h2 {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .hero .btn-get-started {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 35px 10px 35px;
  }
}

@media (min-width: 576px) {
  .hero h1 {
    margin: 0 0 10px 0;
    font-size: 42px;
    line-height: 36px;
    letter-spacing: 7px;
  }

  .hero h2 {
    margin-bottom: 45px;
    font-size: 21px;
  }

  .hero .btn-get-started {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 35px 10px 35px;
  }
}

@media (min-width: 992px) {
  .hero h1 {
    margin: 0 0 10px 0;
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 9px;
  }

  .hero h2 {
    margin-bottom: 45px;
    font-size: 23px;
  }

  .hero .btn-get-started {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 35px 10px 35px;
  }
}

@media (min-width: 1024px) {
  .hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 10px;
  }

  .hero h2 {
    margin-bottom: 45px;
    font-size: 25px;
  }

  .hero .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 35px 10px 35px;
  }
}

.hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  position: relative;
}

.hero .btn-watch-video i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

.hero .btn-watch-video:hover i {
  color: #3c6d96;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
Inicio
--------------------------------------------------------------*/

.portada-secciones {
  padding: 10px;
  overflow: hidden;
}

.portada-secciones img {
  border-radius: 30px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.portada-secciones img:hover {
  transform: scale(1.05);
}

.div-portada,
.exito {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: all ease-in-out 0.4s;
  background: #fff;
  border-radius: 30px;
  margin: 15px 0;
}

@media (max-width: 766) {
  .div-portada {
    margin: 20px 0;
  }

  #header .logo img {
    display: none;
  }
}

.div-portada img {
  border-radius: 30px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.div-portada img:hover {
  transform: scale(1.08);
}

.div-portada {
  overflow: hidden;
}

.perdidos a p {
  color: #848484;
}

/* Acerca */

.acerca-info p {
  font-size: 16px;
}

/*--------------------------------------------------------------
success crear perrito
--------------------------------------------------------------*/

.success .container {
  padding-top: 150px;
  padding-bottom: 80px;
}

.success h2 {
  font-size: 24px;
}

.success i {
  font-size: 6em;
}

@media (min-width: 575px) {
  .success h2 {
    font-size: 32px;
  }

  .success i {
    font-size: 8em;
  }
}

.success .btn {
  background-color: #d3970f;
  color: white;
}

/*--------------------------------------------------------------
 Botones en general
--------------------------------------------------------------*/
.btn {
  font-size: 16px;
}

.btn-naranja,
.nuevo .btn,
.nuevo .btn-naranja,
.nuevo a {
  background-color: #d3970f !important;
  color: white !important;
  transition: all ease-in-out 0.3s;
}

.btn-naranja:hover,
.btn-naranja-outline:hover {
  background-color: #d3970f !important;
  color: white !important;
  opacity: 0.8;
}

.btn-naranja-outline {
  color: #d3970f !important;
  border: 1px solid #d3970f !important;
  transition: all ease-in-out 0.3s;
}

.btn-azul {
  background-color: #3cc5e7 !important;
  color: white !important;
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.btn-azul:hover {
  background-color: #21859e !important;
  color: white !important;
}

.btn-azul-outlines {
  color: #3cc5e7 !important;
  border: 1px solid #3cc5e7 !important;
  transition: all ease-in-out 0.3s;
}

.btn-azul-outlines:hover {
  background-color: #3cc5e7 !important;
  color: white !important;
}

.naranja {
  color: #d3970f !important;
}

.naranja ul li i::before {
  color: #d3970f !important;
}

.naranja.volver {
  font-size: 14px;
  line-height: 0.8 !important;
}

.detalle-perdidos_body a {
  line-height: 0.8 !important;
}

.eliminar {
  background-color: #ce4321 !important;
  color: white !important;
  font-family: "Poppins", sans-serif;
}

.login-btn {
  font-family: "Poppins", sans-serif !important;
}

.btn-flotante-desktop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 15px;
  /* width: 4em;
  height: 4em; */
  text-align: center;
  line-height: 2.7em;
  z-index: 1;
  font-size: 20px;
}
.btn-flotante {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 2.7em;
  z-index: 1;
}

.btn-flotante i {
  color: #fff;
  font-size: 1.7em;
  line-height: 1.7em;
}

.bi-plus {
  font-weight: 800 !important;
}

.boton-color {
  background-color: #be8400;
  border-color: #be8400;
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}

.boton-color:hover,
.boton-color:focus,
.boton-color:active {
  background-color: #a27206 !important;
  border-color: #a27206 !important;
}

.boton-color-azul {
  background-color: #3cc5e7;
  border-color: #3cc5e7;
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}

.boton-color-azul:hover,
.boton-color-azul:active,
.boton-color-azul:focus {
  background-color: #21859e;
  border-color: #21859e;
}

.botones-choice input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.botones-choice .bg-1 {
  border: #d3970f 1px solid;
  color: #d3970f;
  padding: 12px 18px;
  border-radius: 15px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.botones-choice .bg-1:hover {
  box-shadow: 0 20px 39px 0 #e5b14a8f;
  background-color: #d3970f;
  border: #d3970f 1px solid;
  color: white;
}

.botones-choice .bg-1.active {
  box-shadow: 0 20px 39px 0 #9e730e85;
  background-color: #d3970f;
  border: #d3970f 1px solid;
  color: white;
  /* padding: 12px 22px; */
  border-radius: 15px;
}

.botones-choice .bg-2 {
  border: #3cc5e7 1px solid;
  color: #3cc5e7;
  padding: 12px 22px;
  border-radius: 15px;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
}

.botones-choice .bg-2:hover {
  box-shadow: 0 20px 39px 0 #3cc5e78d;
  background-color: #3cc5e7;
  border: #3cc5e7 1px solid;
  color: white;
  padding: 12px 22px;
  border-radius: 15px;
  font-size: 18px;
}

.botones-choice .bg-2.active {
  box-shadow: 0 20px 39px 0 #3cc5e78d;
  background-color: #3cc5e7;
  border: 1px solid #3cc5e7;
  color: white;
  padding: 12px 22px;
  border-radius: 15px;
  font-size: 18px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);*/
}

/* #header.header-scrolled,
#header.header-inner-pages {

} */

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 50px;
  padding: 5px 0;
}

@media (max-width: 400px) {
  .size-icons {
    font-size: 1em !important;
  }

  #header .logo img {
    max-height: 40px;
    padding: 5px 0;
  }
}

@media (min-width: 401px) {
  .size-icons {
    font-size: 1.5em !important;
  }

  #header .logo img {
    max-height: 45px;
    padding: 5px 0;
  }
}

@media (min-width: 528px) {
  .size-icons {
    font-size: 2em !important;
  }
}

#header #back-btn {
  color: #d3970f;
  background: none;
  border: none;
  font-size: 3em !important;
  line-height: 0 !important;
}

/* Desktop */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #454545;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #d3970f;
}

.nav-menu .drop-down ul {
  border-radius: 8px;
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0c3c53;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #47b2e4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#header button {
  background-color: #d3970f;
  border-color: #d3970f;
  color: #fff !important;
}

.navbar-toggler {
  background-color: #d3970f;
  border-color: #d3970f;
  color: #fff !important;
  font-size: 0.8rem;
}

.navbar-toggler span,
.navbar-toggler-icon {
  color: #fff !important;
}

.navbar-toggler {
  border-color: rgb(255, 102, 203);
}

.logo-menu img {
  max-width: 100px;
  margin: auto;
  text-align: center;
}

/*--------------------------------------------------------------
# perdidos y encontrados
--------------------------------------------------------------*/

.mascota-list__form {
  font-size: 18px;
  /* margin: 1rem; */
  /* background-color: hsl(0, 0%, 66%); */
  /* padding: 1rem; */
  /* text-align: center; */
  color: #454545;
}

.mascota-list__form input {
  /* margin-left: 15px;
  margin-right: 15px; */
  width: 95%;
}

.mascota-list__filter {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  /* font-size: 1rem; */
}

.rounded-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.rounded-img-full {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.listado-perros .card-perro {
  text-align: center;
  /* margin-bottom: 20px; */
  background: #fff;
  border: 1px solid #eef0ef;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 100%;
}

.card-perro-content {
  margin-top: 5px;
}

.listado-perros .card-perro .card-perro-content {
  padding: 0 20px 0px 20px;
}

.listado-perros .card-perro h3 {
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 18px;
  font-family: "Poppins";
  color: #454545;
}

@media (min-width: 768px) {
  .listado-perros .card-perro h3 {
    font-size: 22px;
    margin-top: 0;
  }
}

.listado-perros .card-perro span {
  display: block;
  font-size: 13px;
}

.listado-perros .card-perro p {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.icofont-location-pin:before {
  color: #3cc5e7 !important;
}

/* .detalle-perrito {
  padding-top: 40px;
} */

.detalle-perrito .detalle-perrito-slider img {
  width: 100%;
}

.detalle-perrito .detalle-perrito-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.detalle-perrito
  .detalle-perrito-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1bb1dc;
}

.detalle-perrito
  .detalle-perrito-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #1bb1dc;
}

.detalle-perrito .info-detalle-perrito {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(65, 62, 102, 0.08);
}

.detalle-perrito .info-detalle-perrito h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.detalle-perrito .info-detalle-perrito ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.detalle-perrito .info-detalle-perrito ul li + li {
  margin-top: 10px;
}

.data {
  text-align: center;
  background: #be8400;
  border: 2px solid #eef0ef;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: none;
  display: block;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detalle-perrito div img {
  border-radius: 15px;
}

a.data-letra {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.form-group,
.form-group input,
.form-group select,
.form-group textarea {
  font-size: 14px !important;
}

/* Cuenta */
/* .cuenta-bg {
  margin-top: -100px !important;
} */
.cuenta {
  background-color: #1bb1dc;
  margin-top: -40px !important;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.title-section.cuenta h2 {
  color: #ffffff9f;
  font-weight: 200;
  font-size: 30px;
}

.title-section.cuenta h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}

.title-section.cuenta h3 span {
  font-weight: 700;
}

.title-section.cuenta p {
  font-weight: 300;
  color: #ffffff9f;
  font-size: 18px;
}

.mascota-exito h3 {
  font-weight: 700 !important;
}

/* Cerrar sesión */
.sesion-cerrada i,
.check i {
  color: #d3970f;
  font-size: 7rem;
}

/* Login */
.todavia {
  font-weight: 300;
  color: #232323;
  font-size: 18px;
}

/* .caja-login {
  box-shadow: var(--box-shadow);
  padding: 50px;
  border-radius: 30px;
} */

.login-page {
  height: 82vh;
  align-items: center;
  text-align: left;
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.form-login__field {
  font-weight: 300;
  color: #232323;
  font-size: 18px;
}

.form-login input {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .header-section-bg {
    margin-top: 0 !important;
  }
}

/* crear y editar */
.header-section-bg {
  margin-top: 60px;
}
.header-section {
  background-color: #1bb1dc;
  /* margin-top: -40px !important; */
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .header-section h2 {
    font-size: 15px !important;
  }

  .header-section h3 {
    font-size: 25px !important;
  }
}

.header-section .title-section h2 {
  color: #ffffff9f;
  font-weight: 200;
  font-size: 30px;
}

.header-section .title-section h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}

.header-section .title-section h3 span {
  font-weight: 700;
}

.header-section .title-section p {
  font-weight: 300;
  color: #ffffff9f;
  font-size: 18px;
}

.form_carga label {
  display: block;
  font-weight: 300;
  color: #232323c3;
  font-size: 18px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.form_carga input,
.form_carga textarea,
.form_carga select {
  width: 100%;
  font-weight: 300;
  color: #232323c3;
  font-size: 20px;
  padding: 5px;
}

.form_carga select,
.form_carga input[type="date"] {
  font-weight: 300;
  color: #232323c3;
  font-size: 20px;
  padding: 5px;
}

.form_carga input {
  padding-left: 5px;
}

.exito .titulo-seccion h3 {
  font-size: 30px;
}

/* Eliminar */
.card-perro.eliminarpubli {
  text-align: left !important;
}

.seccion-inicio {
  margin-top: 50px !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  font-size: 14px;
  background: #d3970f !important;
  color: #fff;
  z-index: 0 !important;
}

footer p {
  color: #fff;
}

footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

footer .footer-top .footer-links {
  margin-bottom: 30px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

footer .footer-bottom {
  padding-top: 20px;
  padding-bottom: 0;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
  }

  footer .footer-bottom {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    font-size: 10px;
  }

  footer p {
    font-size: 12px;
  }
}

/* Para que el footer se quede abajo de todo cuando no hay suficiente contenido */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 50px;
  margin-top: auto;
}

section {
  min-height: 75vh;
}

.filter-container p {
  text-align: left;
  color: #454545;
  font-size: 18px;
  margin-bottom: 10px;
  /* padding-left: 4px; */
}

.pr-2 {
  padding-right: 0.5rem !important;
}

/* .pl-4px {
  padding-left: 4px;
} */

.barra-filtros {
  background-color: #f8f8f8df;
  border-radius: 20px;
}

.filtros-title {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

@media (max-width: 768px) {
  .formulario-carga {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 20px;
  }
}

.formulario-carga {
  /* box-shadow: 0px 0 30px rgba(65, 62, 102, 0.08); */
  padding: 30px;
  /* border-radius: 15px; */
  /* background-color: #f8f8f8; */
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .seccion-form-carga {
    padding: 30px 10px !important;
  }
}

.seccion-form-carga {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 0 30px rgba(65, 62, 102, 0.08);
  border-radius: 15px;
}

.mapa p {
  font-weight: 300;
  color: #232323c3;
  font-size: 18px;
}

.mapa div {
  max-width: 100% !important;
}

.cloudinary-upload {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cloudinary-button {
  background-color: #d3970f !important;
  border-color: #d3970f !important;
  color: #fff !important;
  width: 100%;
  border-radius: 15px !important;
  border: none !important;
  transition: all ease-in-out 0.3s;
  font-size: 14px;
}

.foto-cloudinary {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.foto-cloudinary img {
  border-radius: 25px;
}

.select-provincias-filtro select,
.select-provincias-filtro input {
  font-size: 16px;
  padding: 10px;
  color: #d3970f;
  /* color: #454545; */
  border: #d3970f 1px solid;
  width: 95%;
  background-color: #f8f8f8df;
  border-radius: 15px;
}

.select-provincias-filtro select option {
  color: #454545 !important;
}

.select-provincias-filtro label {
  font-size: 15px;
  /* padding: 10px; */
  color: #454545a8;
  padding-bottom: 5px;
}

.aparecio-true {
  opacity: 0.5;
}

.card-perro {
  position: relative;
}

@media (max-width: 768px) {
  .encontrado-label {
    font-size: 14px;
    top: 15% !important;
  }
}

.encontrado-label {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #d3980fbc;
  /* Para que el texto sea legible en imágenes claras */
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.no-results img {
  max-width: 40%;
}

.no-results p {
  font-size: 20px;
  font-weight: 600;
  color: #454545;
  max-width: 50%;
  margin: auto;
}

.login-img {
  background: url("assets/img/login.jpg") no-repeat right center;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login-page {
  margin-top: 0px !important;
}

/* @media (max-width: 992px) {
  .caja-login {
    margin-top: 100px;
  }
} */

.caja-login {
  margin-top: 100px;
}

.botones-paginacion button {
  margin: 10px;
}

.barra-filtros.sidebar-hidden {
  display: none;
}

.barra-filtros.sidebar-visible {
  display: block;
  z-index: 1000;
}

@media (min-width: 768px) {
  .barra-filtros {
    display: block;
  }
}

.btn-toggle-filtros {
  color: #d3970f;
  font-size: 14px;
  background-color: transparent !important;
  border: none !important;
}

.btn-toggle-filtros:hover {
  color: #a27206;
}
.card-perro img {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
}

.container-register {
  margin-top: 120px;
  padding-bottom: 100px;
}

.password-wrapper {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: #d3970f !important;
  color: #d3970f !important;
}

.naranja {
  color: #be8400;
}

.btn-success-login {
  font-size: 20px;
}

#header {
  z-index: 1100 !important;
}

.btn-limpiar button {
  border: none !important;
  color: #d3970f !important;
  font-size: 15px;
  background-color: transparent !important;
  padding-left: 0 !important;
}

.swal2-container {
  z-index: 999999;
}

.swal2-modal {
  border-radius: 20px !important;
}

.swal2-container h2 {
  font-size: 26px !important;
  color: #a27206;
  padding-top: 30px;
}

.swal2-container div {
  font-size: 18px;
}

.swal2-confirm {
  background-color: #d3970f !important;
  color: white !important;
  transition: all ease-in-out 0.3s;
  border-radius: 15px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 10px 35px !important;
}

.swal2-cancel:hover,
.swal2-confirm {
  background-color: #d3970f !important;
  color: white !important;
  opacity: 0.8;
}

.swal2-cancel {
  color: #d3970f !important;
  border: 1px solid #d3970f !important;
  transition: all ease-in-out 0.3s;
  background-color: transparent !important;
  border-radius: 15px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 10px 25px !important;
}

.embed-responsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Para un aspecto de 4:3, usa 75%. Para 16:9, usa 56.25% */
  overflow: hidden;
}

.embed-responsive .embed-responsive-1by1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .embed-responsive .embed-responsive-1by1 {
    width: 80%;
    height: auto;
  }
}

.swal2-info {
  color: #1bb1dc !important;
  border-color: #1bb1dc !important;
}

.alertas {
  color: #d3970f;
  font-size: 18px;
}

.container-alertas {
  padding: 30px;
}

.alertas ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 768px) {
  .listado-perros .card-perro p {
    font-size: 12px !important;
    padding-bottom: 10px;
  }
}

.coincidencias p {
  font-size: 18px !important;
}

.loader {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader p {
  font-size: 20px;
  color: #d3970f;
}

.title-footer {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 10px;
}

.swal2-input-label {
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}

@media (max-width: 768px) {
  .swal2-html-container {
    font-size: 18px !important;
  }
}
